.buttons-panel{
  .btn{
    display: inline-block;
  }
}
.btn{
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
}
.btn-shadow{
  box-shadow: 2px 2px 8px 2px #cccccc;
}
.btn-radius{
  border-radius: 5px;
}
.btn-border{
  border: 1px solid #000000;
}
.btn-active{
  border-bottom: 2px solid #000000
}
.work-time{
  background-color: #ff65a2;
}
.short-break{
  background-color: #54d92d;
}
.long-break{
  background-color: #80a2ff;
}

.delete,
.edit,
.done{
  position: relative;
  font-size: 24px;
  &:before{
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.delete{
  &:before{
    content: '\2718';
    color: #ca030b;
  }
}
.edit{
  &:before{
    content: '\270e';
    color: #0c64e4;
    transform: translate(-50%, -50%) rotate(100deg);
  }

}
.done{
  &:before{
    content: '\2714';
    color: #00e421;
  }
}
