.task-panel{
  width: 40%;
  float: right;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.tab-panel{
  .btn{
    display: inline-block;
    margin: 0;
    &:hover{
      background-color: #92ff8e;
    }
  }
}
.tab-content{
  display: none;
  >ul{
    border-top: 1px solid black;
  }
  &.show{
    display: block;
  }

}
.new-task-form{
  border-top: 1px solid #000000;
  ul{
    li{
      float: left;
      box-sizing: border-box;
      &.taskValue{
        width: 75%;
      }
      &.create{
        width: 25%;
        min-height: 26px;
        line-height: 26px;
        cursor: pointer;
        text-align: center;
        background-color: buttonface;
        box-sizing: border-box;
        border: 2px outset buttonface;
        &:active{
          border-style: inset;
        }
      }
      input{
        min-height: 30px;
        width: 100%;
        padding: 0 0 0 20px;
        margin: 0;
        border: 0;
      }
    }
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}
.task-item{
  position: relative;
  .editTaskField{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 34px;
    width: calc(100% - 180px);
    padding-left: 20px;
    display: none;
    z-index: 1;
    &.show{
      display: block;
    }
  }
}
