.task-item{
  padding: 0 0 0 20px;
  border-bottom: 1px solid #000000;
  line-height: 40px;
  cursor: pointer;
  &:hover{
    background-color: #f6f5c8;
  }
  &:first-child{
    border-top: 1px solid #000000;
  }
  &:last-child{
    border-bottom: 0;
  }
  .item-pomodoro,
  .task-name{
    float: left;
  }
  .item-pomodoro-img{
    width: 40px;
  }
  .item-pomodoro{
    max-height: 40px;
    position: relative;
    float: right;
    margin-right: 15px;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      color: #ffffff;
      font-size: 20px;
    }
  }
  .item-controls{
    float: right;
    li{
      border-left: 1px solid #000;
      display: block;
      width: 30px;
      height: 40px;
      float: right;
    }
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  &.active{
    background-color: #86e8f1;
  }
}
